<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Class [{{ class.name }}] | Instructor | Class Chime</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css' %}">
        <link rel='icon' type='image/png' href="{% static 'class_chime_favicon.png' %}">
        <!-- <script src='main.js'></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qartjs/1.2.0/qart.min.js"></script>
    </head>
    <body>
        <h1>Class [{{ class.name }}]</h1>
        <p><b>Class ID: {{ class.route_id }}</b></p>
        <a href="/dashboard/instructor/">Back</a>
        <br>
        <a target="_blank" rel="noopener noreferrer" href="/broadcast/{{ class.route_id }}/instructor/">WebRTC Broadcast Video + Screen</a>
        <br><button onclick="window.location.replace(window.location.href)">Refresh Attendance View</button>
        {% if class.in_session %}
            <form action="{% url 'instructor_class' class.route_id %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="stop" name="class-door">STOP Class</button>
            </form>
        {% else %}
            <form action="{% url 'instructor_class' class.route_id %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="start" name="class-door">START Class</button>
            </form>
        {% endif %}
        {% if students %}
            <ul>
            {% for student in students %}
                <li>{{ student }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No students are present.</p>
        {% endif %}
        <p>Scan to join:</p>
        <div id="qart"></div>

        <p>Create Poll:</p>
        <form action="{% url 'create_poll' class.route_id %}" method="POST">
            {% csrf_token %}
            <label for="poll-name-field">Poll Name: </label>
            <input type="text" id="poll-name-field" name="poll-name">
            <button type="submit">Submit</button>
        </form>
        <p>Polls:</p>
        {% if polls %}
            <ul>
            {% for poll in polls %}
                <li><a href="{% url 'poll_detail' class.route_id poll.route_id %}">{{ poll.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are open.</p>
        {% endif %}
    </body>
    <script>
        const defaultClassID = "{{ class.route_id }}";
        const qrValue = `${window.location.origin}/class/?defaultclassid=${defaultClassID}`;
        console.log(qrValue);
        new QArt({
            value: qrValue,
            imagePath: "{% static 'class_chime_favicon.png' %}",
            filter: "threshold",
            size: 300
        }).make(document.getElementById('qart'));
    </script>
</html>
