<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Debug Interface | Class Chime</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
        <!-- <script src='main.js'></script> -->
    </head>
    <body>
        <p>Debug Interface</p>
        <form action="{% url 'create_user' %}" method="POST">
            {% csrf_token %}
            <label for="username-field">Username: </label>
            <input type="text" id="username-field" name="username">
            <label for="password-field">Password: </label>
            <input type="text" id="password-field" name="password">
            <label for="i-field">Is Insructor: </label>
            <input type="text" id="i-field" name="is-instructor">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
