<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Broadcast [{{ class.name }}] | Student | Class Chime</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css' %}">
        <link rel='icon' type='image/png' href="{% static 'class_chime_favicon.png' %}">
        <!-- <script src='main.js'></script> -->
        <script src="https://muazkhan.com:9001/dist/RTCMultiConnection.min.js"></script>
        <script src="https://muazkhan.com:9001/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Broadcast [{{ class.name }}]</h1>
    </body>
    <script>
        var connection = new RTCMultiConnection();

        connection.socketURL = "{{ signaling_server_url }}";

        connection.session = {
            video: true, 
            screen: true, 
            audio: true, 
            oneway: true
        };

        // connection.sdpConstraints.mandatory = {
        //     OfferToReceiveAudio: false,
        //     OfferToReceiveVideo: true
        // };

        connection.onstream = (event) => {
            if (event.mediaElement) {
                event.mediaElement.muted = true;
            }
            document.body.appendChild(event.mediaElement);
        }

        connection.join("{{ class.route_id }}");
    </script>
</html>
