<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Instructor Dashboard</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script> -->
    </head>
    <body>
        <form action="{% url 'instructor_create' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Create New Attendance</button>
        </form>
        <h1>Attendances</h1>
        {% if attendances %}
            <ul>
            {% for attendance in attendances %}
                <li><a href="{% url 'instructor_detail' attendance.route_id %}">Attendance {{ attendance }} from {{ attendance.opening }} to {{ attendance.closing }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No attendances are available.</p>
        {% endif %}
    </body>
</html>
