<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Attendance {{ attendance.route_id }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script> -->
    </head>
    <body>
        <h1>Attendance {{ attendance.route_id }}</h1>
        <p>From {{ attendance.opening }} to {{ attendance.closing }}.</p>
        <p>Code: {{ attendance.code }}</p>
        <p>Count: {{ attendance.count }}</p>
        {% if attendance %}
            <ul>
            {% for attendee in attendance.attendees %}
                <li>{{ attendee }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No attendees are present.</p>
        {% endif %}
    </body>
</html>