<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Join Attendance</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script> -->
    </head>
    <body>
        <h1>Join Attendance</h1>
        <form action="{% url 'student_validate' %}" method="POST">
            {% csrf_token %}
            <label for="join-input-code">Join Code: </label>
            <input type="text" id="join-input-code" name="joinCode">
            <label for="join-input-name">Name: </label>
            <input type="text" id="join-input-name" name="attendeeName">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
